* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background: #eee;
  color: #333;
}

.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid coral;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: coral;
  color: #fff;
}

.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

/*CardListFolded*/

.foldedCard {
  background-color: #eee;
  max-width: 600px;
  height: 145px;
  border-radius: 4px;
  border: 2px rgb(200,200,200) solid;
  margin:  20px 20px;
  overflow: hidden;
}
.unfoldedCard{
  background-color: #eee;
  max-width: 600px;
  border-radius: 4px;
  border: 2px rgb(200,200,200) solid;
  margin:  20px 20px;
  min-height: 300px;
  
}
.foldedCardImg{
  height: 145px;
  border-radius: 4px;
}
.foldedCardText{
  margin: 16px 25px;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.rowSpaceBetween{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.columnSpaceBetween{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.iconButton{
  border: 2px rgb(200,200,200) solid;
  border-radius: 4px;
  width: 70px;
  height: 70px;
  align-self: flex-end;
  margin: 10px;
}
.iconButton:active{  
  background-color:gray;
}
.closeConfScreen{
  width: 300px;
  height: 200px;
  border-radius: 4px;
  border: 2px rgb(200,200,200) solid;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #eee;
}
.closeConfScreenText{
  margin: auto;
}

/* CardFilling */
.fillingCard {
  background-color: hsl(0, 0%, 93%);
  max-width: 600px;
  height: 145px;
  border-radius: 4px;
  border: 2px rgb(200,200,200) solid;
  margin:  20px 20px;
  overflow: hidden;
}
.fillingImg{
  height: 145px;
  border-radius: 4px;
}
.fillingText{
  margin: 16px 25px;
}
.rowSpaceBetween{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.columnSpaceBetween{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ifCardPicked{
  border: solid 2px rgb(153, 153, 153);
  background-color: hsl(0, 0%, 89%);
}